src/main/mule/second-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6db008e3-59a2-4f20-8d62-b9c8175dc394" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="18383244" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="401ac5de-234d-414e-80d9-de70de0c9fa4" flowRef="second-projectFlow" />
	<flow name="second-projectFlow" doc:id="0a696cb8-5e04-428c-aec4-afc84b9d9101" >
		<http:listener doc:name="Listener" doc:id="68745f74-8eea-4955-a2a6-55a9ab85d085" config-ref="HTTP_Listener_config" path="/second"/>
		<logger level="INFO" doc:name="Logger" doc:id="3800207b-121f-46c1-8172-5652da02495d" message="Started logger"/>
		<set-variable value="#[attributes.queryParams.language]" doc:name="Set Variable" doc:id="ca5de616-0ea3-4471-99e2-633c1ee4ea4f" variableName="Language"/>
		<choice doc:name="Choice" doc:id="43b32526-5a33-4af5-ba23-c52450522d73" >
			<when expression='#[vars.Language == "Ind"]'>
				<set-payload value='#["Hello Nagendra Madhu"]' doc:name="Set Payload" doc:id="92460f04-be2b-48ec-b408-f89c19ad0165" />
			</when>
			<when expression='#[vars.Language == "Jap"]'>
				<set-payload value='#["Hello Mahesh Kumar"]' doc:name="Set Payload" doc:id="258850af-925f-4e96-a0f9-441768f4bcae" />
			</when>
			<otherwise >
				<set-payload value='#["Chaitanya"]' doc:name="Set Payload" doc:id="21e7f40e-db61-4627-8773-7cfc790ebce9" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="02f77907-367d-4e80-b5de-560b5e920770" message="End Loger : #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="4b25613b-3420-4229-bb96-1766d2a61339" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
